[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-rest-framework = "*"
django-environ = "*"

[dev-packages]
drf-spectacular = "*"
pytest-django = "*"

[requires]
python_version = "3.11"
